.container-me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
.container-me h2{
    margin-bottom: 0;
}
p{
    margin: 0;
}
.container-me img{
    width: 15%;
    height: auto;
    border-radius: 50%;
    margin-top: 2rem;
}

.container-me span {
    color: aqua;
}
@media only screen and (max-width: 900px) {
    .container-me img{
        width: 40%;
        height: auto;
        border-radius: 50%;
        margin-top: 2rem;
    }
  }
  
  
  @media only screen and (min-width: 1200px) {
    
  }