.projects{
    display: flex;
    flex-direction: row;
    margin: 0 10%;
    justify-content:space-evenly;
    gap: 2%;
}

.projects img {
    height: 80%;
    width: 100%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}
.project-card-container{
    background-color: gray;
    width: 25rem;
    height: 20rem;
    margin-bottom: 2rem;
    border-radius: 3%;
    text-align: center;
    
}

.h2-projects{
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .projects{
        flex-direction: column;
        align-items: center;
    }
    .project-card-container{
        width: 20rem;
        height: 15rem;

    }
  }